[submodule "server"]
	path = server
	url = git@github.com:esport-hatcher/api-v1.git
	branch = master
[submodule "client"]
	path = client
	url = git@github.com:esport-hatcher/web-client-v1.git
	branch = master
