.btn {
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 3px;
    font-size: 2rem;
    transition: all .4s;

    &:hover {
        background-color: #000;
        color: #fff;
        transform: scale(1.05);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    }

    &:active {
        transform: scale(1);
        box-shadow: 0 0 1rem rgba(#000, 0.2);
    }

    &--reverted {
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}