@include font-face(Murmure, '../fonts/Le_Murmure-Regular_web');

.big-title {
      font-size: 50rem;
      text-transform: capitalize;
      line-height: 0.9;


      @include respond(tab-land) {
            font-size: 40rem;
      }

      @include respond(tab-port) {
            font-size: 35rem;
      }

      @include respond(phone) {
            font-size: 20rem;
      }

      @include respond(big-desk) {
            font-size: 66.6rem;
      }
}

.error-msg {
      font-size: 2rem;
      letter-spacing: 3px;
      color: red;
}

.small-intro {
      font-size: 4rem;
      letter-spacing: 5px;
}

.body-text {
      font-size: 6rem;
      line-height: 7rem;
      hyphens: auto;

      @include respond(tab-land) {
            font-size: 5rem;
            line-height: 6rem;
      }

      @include respond(tab-port) {
            font-size: 4rem;
            line-height: 5rem;
      }
      
      @include respond(big-desk) {
      font-size: 8.6rem;
      line-height: 9.3rem;
      }
}